.green-background {
  background: #d3f6e2;
}

.green-primary {
  color: #013430;
}

.green-second {
  color: #23663a;
}

.dark-green-button {
  background: #054743;
  color: white;
}

.dark-green-icon {
  background: #054743;
  color: white;
}